

h1 img {
	
		width: 1300px;
		height:200px;
		position:absolute;
		top:20;
}
.sacola {
	
	background-image: url('../Images/sacola.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 0px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1200px;
						
						height:60px;
						
						position:absolute;
						
						margin-top:130px;
						top:0;
}
						
.container-Logo	{	
	
background-image: url('../Images/Magalu.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 200px;
						
						height:35px;
						
						position:absolute;
						
						margin-top:130px;
						top:0;
}
.container-Magalu	{	
	
background-image: url('../Images/Logo-Magalu.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 50px;
						
						height:90px;
						
						position:absolute;
						
						margin-top:0px;
						top:0;
}
.container-Frete	{	
	
background-image: url('../Images/Frete.png'	);
	
	background-repeat: no-repeat;
	
	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 3px;
						
						text-align: right;
						
						width:840px;
						
						height:90px;
						
						position:absolute;
						
						margin-top:5;
						
						top:-90px;
}

.busca,
.menu-departamentos {
	
					float: left;
					
					font-weight: bold;
					text-transform: uppercase;
					
					background-position: top right;
	
						font-size: 14px;
						
						
						
						text-align: right;
						
						width: 500px;
						
						height:90px;
						
						position:absolute;
						
						margin-top:85px;
						top:0;
					
					
}

.busca form,

.menu-departamentos h2 { 

					margin:10px;
					
}

.menu-departamentos a {
			
			
			text-decoration: none;
}

.menu-departamentos li { 
		
		background-color: white;
		
		margin-bottom:1px;
		
		padding:5px 10px;
}
.menu-departamentos {
	
						clear: left;
						
						margin-top:10px;
						padding-bottom:10px;
						
						{text-transform: uppercase;}
}

.item-menu {text-decoration:none;}

busca input[type=search] {
	
						
						width:400px;
}

.container-departamento{

background-image: url('../Images/departamento.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top right;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1260px;
						
						height:35px;
						
						position:absolute;
						
						margin-top:145px;
						top:0;
}

.container-atendimento {
	
	background-image: url('../Images/atendimento.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1470px;
						
						height:35px;
						
						position:absolute;
						
						margin-top:-90px;
						top:0px;
}

.container-Bem-vindo {
	
	background-image: url('../Images/Bem-vindo.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1460px;
						
						height:355px;
						
						position:absolute;
						
						margin-top:20px;
						top:0px;
						
}
.container-destaque { 

background-image: url('../Images/destaque.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:40px;
						top:100px;
}

.container-destaques { 

background-image: url('../Images/destaques.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:215px;
						top:100px;
}

.container-cadastro { 

background-image: url('../Images/cadastro.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:380px;
						top:100px;
}
.container-produto { 

background-image: url('../Images/produto.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:380px;
						top:100px;
}
.container-produtos { 

background-image: url('../Images/produtos.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:600px;
						top:100px;
}

.container-final { 

background-image: url('../Images/final.PNG'	);
	
	background-repeat: no-repeat;

	background-position: top ;
	
						font-size: 14px;
						
						padding-right: 35px;
						
						text-align: right;
						
						width: 1265px;
						
						height:800px;
						
						position:absolute;
						
						margin-top:450px;
						top:100px;
}